body p,
body form {
    display: flex;
    justify-content: center;
}

.emailSubmit {
    height: 30px;
    width: 120px;
    background: hsl(223, 87%, 63%);
    border: 0;
    border-radius: 20px;
    color: white;

}